<ion-view view-title="Search For a Job!" ng-controller= "searchPageController as searchPage">
  <ion-content class="padding">
    <label class="item item-input">
        <input type="text" placeholder="Keyword, Job Title, Company" ng-model="searchPage.keyword">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Location" ng-model="searchPage.location">
    </label>
  <button class="button button-block button-balanced" ng-click="searchPage.query()">Search</button>
  <button class="button button-block button-balanced" ng-click="searchPage.addManual()">Manual Add</button>
</ion-content>
</ion-view>
