<ion-pane class="list list-inset" ng-controller= "loginController as login">
  <label class="item item-input">
      <input type="text" placeholder="Username" ng-model="login.user.username">
  </label>
  <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="login.user.password">
  </label>Don't Have An Account?<a ui-sref="register">Sign Up!</a>
<button class="button button-block button-calm" ng-click="login.login()">Login</button>
<button class="button button-block button-calm" ng-click="login.logedIn()">stuff</button>

</ion-pane>

