<ion-view class="padding">

  <ion-pane class="list list-inset" ng-controller= "loginController as login">
    <img class="my-logo" ng-src="./img/jobminder_logo.png"></img>
    <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="login.user.username">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="login.user.password">
    </label>Don't Have An Account?<a ui-sref="register">Sign Up!</a>
  <button class="button button-block button-balanced" ng-click="login.login()">Login</button>
<!--     <button class="button button-block button-balanced" ui-sref="home-tabs">Login</button> -->
  </ion-pane>
</ion-view>
