<ion-pane class="list list-inset">
  <label class="item item-input">
      <input type="text" placeholder="name" ng-model="user.name">
  </label>
  <label class="item item-input">
      <input type="text" placeholder="Username" ng-model="user.username">
  </label>
  <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="user.password">
  </label>Already Have An Account?<a ui-sref="login">Sign In!</a>
<button class="button button-block button-calm" ng-click="regisctrl.createProfile()">Register</button>
</ion-pane>